In [2]:
%matplotlib inline 
#有了matplotlib inline 就可以省掉plt.show()了
%load_ext autoreload
%autoreload 2

from __future__ import division
from imports import *
#import pylab #使用pylab模式，可以直接使用numpy、pandas和绘图，而不需要再次引入,会配置为使用你所指定的matplotlib gui后端，还会提供一种更接近于matlab的界面
#%pylab
from IPython.display import display_html
display_html("""<button onclick="$('.input, .prompt, .output_stderr, .output_error').toggle();">Toggle code</button>""", raw=True)
# 允许多行输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## 定义问题
> 运营需要对高价值用户中可能流失用户做定向运营，预防其流失，所以需要根据用户的行为，预测其是否可能流失

#### 预测变量：
对近7日活跃的高价值用户（根据用户价值表中，分数为1~5的用户）预测其在未来7日内是否会流失  
#### 潜在分析变量（模型输入变量）：
* 玩牌总时长 play_duration
* 最近7日玩牌总时长 play_duration_7d
* 最近30日玩牌总时长 play_duration_30d
* 玩牌总局数 total_innings
* 最近7日玩牌局数 innings_7d
* 最近30日玩牌总局数 innings_30d
* 付费次数 pay_count
* 最近7日付费次数 pay_count_7d
* 付费额度 pay_sum
* 最近7日付费额度 pay_sum_7d
* 破产次数 bankrupt_count
* 最近7日破产次数 bankrupt_count_7d
* 登录总次数 login_count
* 最近7日登陆总次数 login_count_7d
* 赢牌局数 win_innings
* 最近7日赢牌局数 win_innings_7d
* 输牌局数 lose_innings
* 最近7日输牌局数 lose_innings_7d
* 胜率 win_rate
* 最近7日胜率 win_rate_7d
* 生命周期 lifespan
* 注册至今天数 signup_to_now_days
* 总银币 total_silver_coin
* 总金条 total_gold_bar
* 携带银币数 carrying_silver_coin
* 携带金条数 carrying_gold_bar
* 保险箱银币数 safebox_silver_coin
* 保险箱金条数 safebox_gold_coin
* 比赛局数 match_innings
* 比赛时长 match_duration
* 比赛胜率 match_win_rate
* 携带道具价值 carrying_items_value
* VIP等级 vip_level
* VIP剩余天数 vip_left_days
* 领取救济次数 relieve_count
* 领取救济总额 relieve_silver_coins
* 最后活跃日期距离当前的天数 last_active_to_now_days
* 最后付费日期距离当前的天数 last_pay_to_now_days
* 最近连续登陆天数 recent_login_series_days
* 最后玩牌输赢货币量 latest_play_coins

## 抽取样本数据
#### 取数建表：
1. 从用户价值表中取出分数在1~5之间的用户，为了消除地区差异，选取云南的用户，建表1
2. 将表1关联活跃表，选取出在前14日~前7日之间有活跃的用户，建表2
3. 将表2关联活跃表，标记出用户是否在前7日有活跃，建表3
4. 从表3中随机选取10000行，建表4
5. 将表4关联用户画像表、牌局中间表、付费中间表等，选取计算上面的指标，建表5

In [ ]:
 # 表一
CREATE TABLE veda.fiona_7_4_1 AS
SELECT mid,
       label_score
FROM veda.fiona_dfqp_user_label
WHERE label_score >=1
  AND label_score <=5
  AND fplatformname = '云南'

# 表二
CREATE TABLE veda.fiona_7_4_2 AS
SELECT distinct a.mid,
       a.label_score
FROM veda.fiona_7_4_1 a
LEFT JOIN dim.user_act b ON a.mid = b.fuid
WHERE b.fbpid IN
    (SELECT fbpid
     FROM dim.bpid_map
     WHERE fgamename = '地方棋牌'
       AND fplatformname = '云南')
  AND b.dt >= '2018-06-18'
  AND b.dt <= '2018-06-24'
    
# 表三
CREATE TABLE veda.fiona_7_4_3 AS
SELECT DISTINCT a.mid,
                a.label_score,
                CASE
                    WHEN b.fuid IS NULL THEN 1
                    ELSE 0
                END AS Loss
FROM veda.fiona_7_4_2 a
LEFT JOIN
  (SELECT DISTINCT fuid
   FROM dim.user_act
   WHERE fbpid IN
       (SELECT fbpid
        FROM dim.bpid_map
        WHERE fgamename = '地方棋牌'
          AND fplatformname = '云南')
     AND dt >= '2018-06-25'
     AND dt <= '2018-07-01')b ON a.mid = b.fuid
    
# 表四
CREATE TABLE veda.fiona_7_4_4 AS
SELECT *
FROM veda.fiona_7_4_3
ORDER BY rand()
LIMIT 10000

# 表五
CREATE TABLE veda.fiona_7_4_5 AS WITH a1 AS
  (SELECT mid,
          play_duration,
          total_innings,
          pay_count,
          pay_sum,
          bankrupt_count,
          login_count,
          win_innings,
          lose_innings,
          round(win_innings/total_innings,2) AS win_rate,
          lifespan,
          signup_to_now_days,
          total_silver_coin,
          total_gold_bar,
          carrying_silver_coin,
          carrying_gold_bar,
          safebox_silver_coin,
          safebox_gold_bar,
          match_innings,
          match_duration,
          round(match_win_innings/match_innings,2) AS match_win_rate,
          carrying_items_value,
          vip_level,
          datediff('2018-06-24',vip_expire_time) AS vip_left_days,
          relieve_count,
          relieve_silver_coins,
          datediff('2018-06-24',substr(latest_login_time,1,10)) AS last_active_to_now_days,
          datediff('2018-06-24',substr(latest_pay_time,1,10)) AS last_pay_to_now_days,
          recent_login_series_days,
          latest_play_coins
   FROM veda.dfqp_user_portrait
   WHERE fplatformname = '云南'),
             a2 AS
  (SELECT fuid,
          play_duration AS play_duration_7d,
          play_innings AS innings_7d,
          pay_count AS pay_count_7d,
          pay_sum AS pay_sum_7d
   FROM veda.user_label_7day
   WHERE fgamename = '地方棋牌'
     AND fplatformname = '云南'
     AND dt = '2018-06-24'),
             a3 AS
  (SELECT fuid,
          play_duration AS play_duration_30d,
          play_innings AS innings_30d,
          pay_count AS pay_count_30d,
          pay_sum AS pay_sum_30d
   FROM veda.user_label_30day
   WHERE fgamename = '地方棋牌'
     AND fplatformname = '云南'
     AND dt = '2018-06-24'),
             a4 AS
  (SELECT fuid,
          count(1) AS bankrupt_count_7d
   FROM stage.user_bankrupt_stg
   WHERE fbpid IN
       (SELECT fbpid
        FROM dim.bpid_map
        WHERE fgamename = '地方棋牌'
          AND fplatformname = '云南')
     AND dt >= '2018-06-18'
     AND dt <= '2018-06-24'
   GROUP BY fuid),
             a5 AS
  (SELECT fuid,
          sum(flogin_cnt) AS login_count_7d
   FROM dim.user_act
   WHERE fbpid IN
       (SELECT fbpid
        FROM dim.bpid_map
        WHERE fgamename = '地方棋牌'
          AND fplatformname = '云南')
     AND dt >= '2018-06-18'
     AND dt <= '2018-06-24'
   GROUP BY fuid),
             a6 AS
  (SELECT fuid,
          sum(fwin_party_num) AS win_innings_7d,
          sum(flose_party_num) AS lose_innings_7d,
          round(sum(fwin_party_num)/sum(fparty_num),2) AS win_rate_7d
   FROM dim.user_gameparty
   WHERE fbpid IN
       (SELECT fbpid
        FROM dim.bpid_map
        WHERE fgamename = '地方棋牌'
          AND fplatformname = '云南')
     AND dt >= '2018-06-18'
     AND dt <= '2018-06-24'
   GROUP BY fuid)
SELECT b.mid,
       b.label_score,
       b.loss,
       a1.play_duration,
       a1.total_innings,
       a1.pay_count,
       a1.pay_sum,
       a1.bankrupt_count,
       a1.login_count,
       a1.win_innings,
       a1.lose_innings,
       a1.win_rate,
       a1.lifespan,
       a1.signup_to_now_days,
       a1.total_silver_coin,
       a1.total_gold_bar,
       a1.carrying_silver_coin,
       a1.carrying_gold_bar,
       a1.safebox_silver_coin,
       a1.safebox_gold_bar,
       a1.match_innings,
       a1.match_duration,
       a1.match_win_rate,
       a1.carrying_items_value,
       a1.vip_level,
       a1.vip_left_days,
       a1.relieve_count,
       a1.relieve_silver_coins,
       a1.last_active_to_now_days,
       a1.last_pay_to_now_days,
       a1.recent_login_series_days,
       a1.latest_play_coins,
       a2.play_duration_7d,
       a2.innings_7d,
       a2.pay_count_7d,
       a2.pay_sum_7d,
       a3.play_duration_30d,
       a3.innings_30d,
       a3.pay_count_30d,
       a3.pay_sum_30d,
       a4.bankrupt_count_7d,
       a5.login_count_7d,
       a6.win_innings_7d,
       a6.lose_innings_7d,
       a6.win_rate_7d
FROM veda.fiona_7_4_4 b
LEFT JOIN a1 ON b.mid = a1.mid
LEFT JOIN a2 ON b.mid = a2.fuid
LEFT JOIN a3 ON b.mid = a3.fuid
LEFT JOIN a4 ON b.mid = a4.fuid
LEFT JOIN a5 ON b.mid = a5.fuid
LEFT JOIN a6 ON b.mid = a6.fuid

## 理解数据

In [19]:
path = './csvs/user_lose_predict.csv'
columns = ['mid',
'label_score',
'loss',
'play_duration',
'total_innings',
'pay_count',
'pay_sum',
'bankrupt_count',
'login_count',
'win_innings',
'lose_innings',
'win_rate',
'lifespan',
'signup_to_now_days',
'total_silver_coin',
'total_gold_bar',
'carrying_silver_coin',
'carrying_gold_bar',
'safebox_silver_coin',
'safebox_gold_bar',
'match_innings',
'match_duration',
'match_win_rate',
'carrying_items_value',
'vip_level',
'vip_left_days',
'relieve_count',
'relieve_silver_coins',
'last_active_to_now_days',
'last_pay_to_now_days',
'recent_login_series_days',
'latest_play_coins',
'play_duration_7d',
'innings_7d',
'pay_count_7d',
'pay_sum_7d',
'play_duration_30d',
'innings_30d',
'pay_count_30d',
'pay_sum_30d',
'bankrupt_count_7d',
'login_count_7d',
'win_innings_7d',
'lose_innings_7d',
'win_rate_7d']
fiona_file1 = pd.read_csv(path,names=columns,skiprows=1)
fiona_file1.head(10)
fiona_file1.groupby('loss').size()

,mid,label_score,loss,play_duration,total_innings,pay_count,pay_sum,bankrupt_count,login_count,win_innings,...,pay_sum_7d,play_duration_30d,innings_30d,pay_count_30d,pay_sum_30d,bankrupt_count_7d,login_count_7d,win_innings_7d,lose_innings_7d,win_rate_7d
0,3984585,5,0,360638,5659,12,24.0,790,1190,2223,...,NaN,1961.0,23.0,0.0,0.0,NaN,1,NaN,NaN,NaN
1,3998689,5,0,144599,3479,28,115.0,275,271,1603,...,0.5,926.0,8.0,1.0,0.5,3.0,5,2.0,5.0,0.25
2,4278350,5,0,446592,3522,10,30.0,0,667,1018,...,0.0,5994.0,47.0,0.0,0.0,NaN,13,7.0,24.0,0.22
3,4280646,3,0,1747072,12985,5,24.0,7,1724,4047,...,0.0,68535.0,534.0,0.0,0.0,NaN,29,37.0,73.0,0.32
4,4295037,1,0,646011,10942,73,390.5,718,1348,4681,...,0.0,31635.0,721.0,0.0,0.0,NaN,28,103.0,115.0,0.45
5,4332552,3,0,3283928,39230,42,216.5,594,4027,15287,...,0.0,94522.0,1524.0,0.0,0.0,2.0,113,147.0,360.0,0.28
6,4334725,3,0,2059451,18903,21,104.5,827,1677,9288,...,0.0,105593.0,1087.0,0.0,0.0,16.0,71,175.0,137.0,0.54
7,4341244,3,0,2260733,50460,9,22.0,95,1225,7873,...,0.0,27492.0,491.0,0.0,0.0,NaN,35,105.0,112.0,0.39
8,4400243,5,1,149488,2591,12,24.0,103,188,946,...,NaN,1403.0,14.0,0.0,0.0,NaN,2,NaN,NaN,NaN
9,4443908,2,0,453399,7096,51,687.0,263,546,2889,...,0.0,5426.0,72.0,0.0,0.0,NaN,4,13.0,13.0,0.50

loss
0    8054
1    1946
dtype: int64

In [7]:
?pd.read_csv